@import url('//fonts.googleapis.com/css2?family=Dekko&display=swap');
p {
font-family: 'Dekko', cursive
}

a {

  font-family: 'Dekko', cursive
}

body {
 
    font-family: 'Dekko', cursive
}